# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)

numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [7]:
result_dif = num2 - num1
print(result_dif)

result_dif -= 1
print(result_dif)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [8]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [9]:
result_div = num2/num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [11]:
result_fl = num2 // num1
print(result_fl)

result_fl //= 2
print(result_fl)

2.0
1.0

##### Modulo

In [13]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [15]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [16]:
name = 'Arjan'

arjan

##### print() <br>
<p>Don't forget about end=' '</p>

In [18]:
print(name)
print("This is my first name:",name)
print("Full name:", name, end=" Velovic")

arjan
This is my first name: arjan
Full name: arjanVelovic

##### String Concatenation

In [19]:
first_name = "Arjan"
last_name = "Velovic"

full_name = first_name + " " + last_name
print(full_name)

Arjan Velovic

##### Type Conversion

In [22]:
number = "32"
letter = "s"

change_type_num = int(number)

print(type(number))
print(type(change_type_num))

ValueError: invalid literal for int() with base 10: 's'

##### input()

In [24]:
# input always returns a string!
name = input('What is your name?')
print('Nice to meet you, ' + name)

age = int(input('What is your age?'))
age += 5
print("You will be ", age, " in 5 years")

What is your name?arjan
Nice to meet you, arjan
What is your age?5
You will be  10  in 5 years

##### format()

In [31]:
name = 'Arjan'
age = 10
result_string = "{} you will be {} in 5 years".format(name, age)
print(result_string)

result_again = f"{age} is a great time of life"
print(result_again)

Arjan you will be 10 in 5 years
10 is a great time of life

##### Old Way (python 2)

In [32]:
result_str = "you are %s and you look great for your age!" %age
print(result_str)

you are 10 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [33]:
color = input("What is the color of the car?")
year = input("What is the year of the car?")
make = input("What is the make of the car?")
model = input("What is the model of the car?")

print(f"You drive a {color}, {year} {make} {model}")

What is the color of the car?white
What is the year of the car?2013
What is the make of the car?VW
What is the model of the car?Jetta
You drive a white, 2013 VW Jetta

### If Statements

In [43]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5

if num1 == 5:
    print('This is true!')
else:
    print('This is false')
    
if num1 == 6:
    print('This is true!')
else:
    print('This is false')

num1 = 10
num2 = 5
num3 = 0

if num2 > num1:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("they have equal values")
    
if num1 > num2 and num3 == 6:
    print("num3 is 6")
else:
    print("num3 is not 6")

This is true!
This is false
num1 is greater
num3 is not 6

##### 'is' keyword

In [44]:
# The is keyboard is for checking the same object but not same value

num3 = 55

if num3 is 55:
    print("THis is the exact number/object")

THis is the exact number/object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\arjan\AppData\Local\Temp\ipykernel_10052\3066531437.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [45]:
# Check if a character is in a string

char_name = "Fordo Baggins"
if "Fordo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [46]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [48]:
color = input("What is your favorite color? ")

if 'p' in color:
    print("great choice!")
else:
    print("Wrong choice!")

What is your favorite color?Purple
great choice!

## Using 'and'/'or' with If Statements

In [51]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11/5 == num_12 and num_13-7 == num_14:
    print("True and True")

if num_11 == num_12 or num_13 == num_14 + 7:
    print("False and True")

True and True
False and True

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [53]:
name = "Arjan Velovic"

for letter in name:
    print(letter)

A
r
j
a
n

V
e
l
o
v
i
c

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [57]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16

##### Break Statement

In [ ]:
# will break out of current loop

In [58]:
for i in range(20):
    if i == 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [59]:
for i in name:
    pass

##### Double For Loops

In [61]:
for i in range(5):
    for j in range(4):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3

### While Loops

In [63]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [67]:
game_over = True

while game_over:
    print('infinite loop')
    user_input= input('Would you like to stop? ')
    if user_input == 'yes':
        game_over = False
        print('you are done')

infinite loop
Would you like to stop?yes
you are done

##### While & For Loops Used Together

In [68]:
num = 0

while num < 5:
    print("\nWhile loop iterations " + str(num))
    
    for i in range(2):
        print("For loop iteration:", str(i))
    
    num += 1

While loop iterations 0
For loop iteration: 0
For loop iteration: 1

While loop iterations 1
For loop iteration: 0
For loop iteration: 1

While loop iterations 2
For loop iteration: 0
For loop iteration: 1

While loop iterations 3
For loop iteration: 0
For loop iteration: 1

While loop iterations 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [71]:
# range(start, stop, step)

for i in range(20):
    print(i)
    
print("/n")
for i in range(2, 20):
    print(i)

print("/n")
for i in range(2, 20, 2):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
/n
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
/n
2
4
6
8
10
12
14
16
18

##### len()

In [73]:
name = "harry potter"

length = len(name)
print(length)

12

##### help()

In [74]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [75]:
# check vairable to find out what object family it belongs to
print(isinstance(4.5, int))

False

##### abs()

In [76]:
num = -5
print(abs(num))

5

### Try and Except

In [82]:
# use this to log out graceful and useful error messages
# Does not stop program! Neato

try:
    input_num = int(input('Guess a number? '))
    print("you number is " + str(input_num))
except:
    print("That didnt work! Change your input to a number!")

Guess a number? 4
you number is 4

### Lists

##### Declaring Lists

In [83]:
list_1 = []

name = ['Max', 'Cindy', 'Kathy']

print(name)

['Max', 'Cindy', 'Kathy']

##### Indexing a List

In [84]:
print(name[1])

Cindy

##### .append()

In [85]:
name.append('Arjan')
print(name)

['Max', 'Cindy', 'Kathy', 'Arjan']

##### .insert()

In [88]:
name.insert(2, 'Devon')
print(name)

['Max', 'Cindy', 'Devon', 'Kathy', 'Arjan']

##### .pop()

In [87]:
my_name = name.pop(2)
print(my_name)
print(name)

Devon
['Max', 'Cindy', 'Kathy', 'Arjan']


##### .remove()

In [93]:
list_1 = ['Arjan', 'Steve', 'Michael']

list_1.remove('Arjan')
print(list_1)

['Steve', 'Michael']
['Max', 'Cindy', 'Devon', 'Kathy']

##### del()

In [94]:
del(name[1])
print(name)

['Max', 'Devon', 'Kathy']

##### Concatenating Two Lists

In [96]:
list2 = (0, 1, 2)
list3 = (3, 4, 5)

large_list = list2 + list3
print(large_list)

(0, 1, 2, 3, 4, 5)

##### Lists Within Lists

In [ ]:
names = ['max', 'sam', 'josh', ['sally', 'jim'], 'him']

print(names[3][1])

##### Looping Through Lists

In [99]:
for i in range(len(names)):
    print(names[i])

max
sam
josh
['sally', 'jim']
him

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [109]:
k=0
while k*k < 1000:
    print(k*k)
    k+=1

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [116]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2, 100):
    if i == 2 or i == 3:
        print(i)
    elif i % 2 == 0 or i % 3 == 0:
        continue
    else:
        print(i)

2
3
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49
53
55
59
61
65
67
71
73
77
79
83
85
89
91
95
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("What is your age? "))

if age < 18 and age >= 0:
    print("You are a child")
elif age >= 18 and age <= 65:
    print("You are an adult")
elif age > 65:
    print("You are a senior")
else:
    print("not a valid response")